@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url(../img/bg4.jpg);
  background-size: cover;
}

header {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #f298a6;
  font-family: 'Pacifico', cursive !important;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #d55f8f;
}

nav ul li a.active,
nav ul li a:hover {
  background: #f298a6;
  color: #fff;
  transition: 0.5s;
}

.oNama {
  height: 90vh;
  position: relative;
  padding: 100px;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}

.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
  color: #f298a6;
  font-family: 'Pacifico', cursive !important;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  margin-top: 6px;
  font-family: 'Poppins', sans-serif;
}

button.btn {
  display: inline-block;
  background: #d55f8f;
  color: #fff;
  padding: 14px 0;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 8px;
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background: #f298a6;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: #f298a6;
  color: #fff;
  font-family: 'Pacifico', cursive !important;
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 1200px) {
  header {
    margin: 20px;
  }
}

@media (max-width: 769px) {
  .oNama {
    display: block;
  }

  .slika {
    display: none;
    border-radius: 0%;
  }
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #d55f8f;
  }
  .menu-toggle:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f358';
  }
  .menu-toggle.active:before {
    content: '\f35b';
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    margin: 0;
  }
}
